@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --Soft_blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  
  --Very_dark_blue:  hsl(217, 54%, 11%); /*main */
  --Very_dark-blue2:  hsl(216, 50%, 16%); /*card */
  --Very_dark_blue3:  hsl(215, 32%, 27%); /*line */
  --White: hsl(0, 0%, 100%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background: var(--Very_dark_blue);
  display: flex;
  justify-content: center;
  align-items: center;


}
.card{
  width: 350px;
  background: var(--Very_dark-blue2);
  border-radius: 15px;
  padding: 20px;
}

.image{
  position:relative;
}

.image div{
  position: absolute;
  background: hsl(178, 100%, 50%, 50%);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image div:hover{
  opacity: 1;
  cursor: pointer;
  border-radius: 10px;
}

.image div img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eth_img{
  width: 100%;
  border-radius: 10px;
}

.title{
  color: var(--White);
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}



.description{
  color: var(--Soft_blue);
  font-weight: 300;
  margin: 10px 0;
  line-height: 25px;

}

.price-days{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Soft_blue);
  margin-bottom: 10px;
  
}

.price {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  color: var(--Cyan);
  margin: 10px 0;
  font-weight: 600;
}

.days{
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--Soft_blue);
  margin: 10px 0;
}



.creator{
  display: flex;
  align-items: center;
  color: var(--Soft_blue);
}

.profile_img{
  border: 1px solid white;
  border-radius: 50px;
  width: 30px;
  margin-right: 15px;
}

span{
  color: white;
  margin-left: 5px;
}

.eth_img,
h1,
span{
  cursor: pointer;
}

h1:hover,
span:hover{
  color: var(--Cyan);
}